@import '~antd/dist/antd.css';

.App {
  /* text-align: center; */
  padding: 24px 12px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
.paytm-button{
  font-weight: 600;
  margin-top: 5px;
  border-radius: 2px;
  line-height: 1;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  outline: none;
  border-width: 1px;
  border-style: solid;
  transition: all 0.3s ease;
  max-width: 100%;
  font-size: 1rem;
  padding: 6px 16px;
  min-width: 40px;
  width: 288px;
  height: 40px;
  background-color: #00b9f5;
  color: #fff;
  border-color: #00b9f5;
}
.paypal-button{
  margin-top: 5px;
  border-radius: 2px;
  line-height: 1;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  outline: none;
  border-width: 1px;
  border-style: solid;
  transition: all 0.3s ease;
  max-width: 100%;
  font-size: 14px;
  padding: 6px 16px;
  min-width: 40px;
  width: 288px;
  height: 35px;
  background: #ffc439;
  color: #fff;
  border-color: #ffc439;
  border-radius: 18px;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.paypal-button-logo {
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
  width: auto;
}
.paypal-button > .paypal-button-label-container > * {
  vertical-align: top;
  height: 100%;
  text-align: left;
}
.paypal-button > .paypal-button-label-container > * {
  vertical-align: top;
  height: 100%;
  text-align: left;
}
.paypal-button-logo-paypal{
  margin-right: 3px;
}

.paypal-button-logo {
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
  width: auto;
  height: 16px;
}

.Demo__some-network__share-button{
  margin-right: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
